# {{ module_name | title }}

{{ module_description }}

{% if module_url | length %}

Read more about {{ module_name }} on their [website]({{module_url}}).

{% endif %}

{% if license | length %}

## Licensing 

{{ license }}

{% endif %}

## The {{ module_name }} module on the HPC

The {{ module_name }} module can be loaded into your environment with the following command:

```bash
$ module add {{ module_name }}
```

The {{ module_name }} module is available on ARC3 and ARC4:

```{list-table}
:header-rows: 1
:widths: 10 20 10


* - System
  - Version
  - Command
{% for version in module_versions %}
* - {{ version.HPC }}
  - {{ module_name }} {{ version.version }}
  - `module add {{ version.load_name }}`
{% endfor %}
```
